@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes steering {
  0% {
    transform: rotate(-15deg);
  }
  15% {
    transform: rotate(8deg);
  }
  30% {
    transform: rotate(-22deg);
  }
  45% {
    transform: rotate(18deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(25deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
